<!DOCTYPE html>
<html>
<head>
    <title>Đặt lại mật khẩu</title>
</head>
<body>
    <p>Xin chào,</p>
    <p>Bạn nhận được email này vì đã yêu cầu đặt lại mật khẩu cho tài khoản MyCourse.</p>
    
    <p>Vui lòng truy cập đường link sau để đặt lại mật khẩu:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a></p>
    
    <p>Tên đăng nhập của bạn: {{ user.get_username }}</p>
    
    <p>Trân trọng,<br>Đội ngũ MyCourse</p>
</body>
</html>